*{
    box-sizing: border-box;
}



body{
    background-color:  rgba(179, 141, 20, 0.2);
    width: 80%;
    margin: 3% auto;
}

.game-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}


  
.game-container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.game-container, header, .scores,
#announcement-score{
    border-radius: 5px;
}


header{
    background-color: rgba(19, 148, 106); 
    width: 80%;
    margin: 3% auto;
    box-shadow:8px 8px 8px #adaca6;
}

.img-options-container{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto 3% auto;
}

.img-options{
   width: 85%;
}

#Insect-img,
#Toad-img,
#Snake-img{
     width: 95%;
     height: 95%;
     margin: 20px;
     box-shadow: 5px 5px 5px #adaca6;
     border-radius: 3px;
}

#Insect-img:hover,
#Toad-img:hover,
#Snake-img:hover{
    transform: scale(1.01);
    transition-duration: 0.4s;
    box-shadow: 0 0 0 3px rgba(173, 172, 166, 0.6);
   
}

.score-container{
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.scores{
    width: 100%;
}

#announcement{
    margin: 3% auto;
}


.playAgain{
    margin: 2% auto;
    background-color: rgba(19, 148, 106); 
    width: 20%;
    height: 100px;
    border-radius: 3px; 
}

.playAgain:hover{
    transition-duration: 0.2s;
    box-shadow: 0 0 3px;
    background-color: purple;
}
